<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Arc</title>
    <script src="http://d3js.org/d3.v3.min.js"></script>
</head>
<body>
<script>

    var canvas = d3.select("body")
            .append("svg")
            .attr("width" , 500)
            .attr("height" , 500);

    var group = canvas.append("g")
            .attr("transform" , "translate(100,100)");

    var r = 100;
    var p = Math.PI * 2;

    var arc = d3.svg.arc()
            .innerRadius(r - 20)
            .outerRadius(r)
            .startAngle(0)
            .endAngle(p - 1);

    group.append("path")
            .attr("d" , arc);

//    var svg = d3.select("body")
//            .append("svg")
//            .attr("width", 200)
//            .attr("height", 200)
//            .append("g")
//            .attr("transform", "translate(100,100)");
//
//    var arc = d3.svg.arc()
//            .innerRadius(20)
//            .outerRadius(70)
//            .startAngle(0)
//            .endAngle(2 * Math.PI);
//
//    svg.append("path")
//            .attr("class", "arc")
//            .attr("d", arc);

</script>

</body>
</html>